[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
asynccpu = "*"
asyncffmpeg = {path = ".", editable = true}
bump2version = "*"
# Hotfix for Requirementslib which is dependency of Pipenv
# see: https://github.com/sarugaku/requirementslib/issues/296
chardet = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
pipenv-setup = "*"
psutil = "*"
pylint = "*"
pytest = "*"
pytest-resource-path = "*"
radon = "*"
xenon = "*"
types-psutil = "*"

[packages]
# To control ffmpeg by Python
ffmpeg-python = "*"
# To handle Ctrl + C event in Windows for graceful shutdown FFmpeg
pywin32 = {version = "*", sys_platform = "== 'win32'"}
